/.idea/
*~
target/
/test-dbs/*-*
/test-dbs/databases.properties
*.log
*.iml
/\.target/
/\.cache
/\.project
/\.classpath
/.settings/org.scala-ide.sdt.core.prefs
*.db
*.swp
app/src/main/scala/datamodel/
